
.container{
    width:96%;
    margin: 3% auto;
    background: white;
}

/*header-css-start*/
.header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("background-01.jpg");
    background-size: cover;
}
.nav{
    width: 100%;
    height: 70px;
    opacity: 0.5;
    background-color: gray;
}
.nav h3{
    float: left;
    margin: 2% 10%;
    font-size: 3vh;
    color: white;
    text-transform: uppercase;
}
.nav ul{
    width: 40%;
    float: right;
    margin: 2% 5%;
    list-style: none;
}
.nav ul li{
    float: left;
    margin: 0% 2%;
}
.nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.nav .active{
    color: orangered;
}
.hero-text h3{
    word-spacing: 10px;
    letter-spacing: 4px;
    margin-left:10%;
    margin-top: 10%;
    color: white;
    text-transform: uppercase;
}
.hero-text h1{
   text-transform: uppercase;
   color: white;
   font-size: 5vh;
   margin-left:10%;
   margin-top: 3%;
}
.hero-text p{
   margin-left: 10%;
   color: white;
   margin-top: 3%;
}
#btn1{
    width:100px;
    height: 40px;
    color: white;
    border: none;
    margin-left: 10%;
    margin-top: 5%;
    background: orangered;
    text-transform: uppercase;
}
#btn2{
    width:100px;
    height: 40px;
    color: white;
    border: none;
    background: none;
    margin-left: 1%;
    margin-top: 5%;
    background: transparent;
    border: 2px solid gray;
    text-transform: uppercase;
}

/*header-css-end*/

/*section1-css-start*/

.section1{
    position: relative;
    padding: 1px;
    width: 100%;
    height: 90vh;
    background: #252525;
}
.section1 h1{
    text-align: center;
    color: white;
}
.section1 h5{
    text-align: center;
    color: white;
}
.section1-box1{
    position: absolute;
    top: 150px;
    left: 150px;
    width: 25%;
    height: 180px;
}
.section1-box1-left{
    float: left;
    width: 20%;
    height: 30%;
    border: 2px solid orangered;
    text-align: center;
    cursor: pointer;
}
.section1-box1-left i{
    color: white;
    font-size: 4vh;
    line-height: 2;
}
.section1-box1-right{
    float: left;
    width: 75%;
    margin-left: 3%;
    height: 100%;
    text-align: left;
    
}
.section1-box1-right h2{
    margin: 0;
    padding: 0;
    color: white;
}
.section1-box1-right p{
    color: white;

}
.section1-box1-right a{
    text-decoration: none;
    color: orangered;
}
.section1-box2{
    position: absolute;
    top: 150px;
    left: 500px;
    width: 25%;
    height: 180px;
}
.section1-box3{
    position: absolute;
    top: 150px;
    left: 850px;
    width: 25%;
    height: 180px;
}
.section1-box4{
    position: absolute;
    top: 350px;
    left: 150px;
    width: 25%;
    height: 180px;
}
.section1-box5{
    position: absolute;
    top: 350px;
    left: 500px;
    width: 25%;
    height: 180px;
}
.section1-box6{
    position: absolute;
    top: 350px;
    left: 850px;
    width: 25%;
    height: 180px;
}
/*section1-css-end*/

/*section2-css-start*/

.section2{
    position: relative;
    width: 80%;
    height: 90vh;
    margin: 0 auto;
}
.section2 h1{
    text-align: center;
}
.section2 h5{
    text-align: center;
}
.section2-box1{
    position: absolute;
    top: 150px;
    left: 80px;
    width: 40%;
    height: 180px;
}
.section2-box2{
    position: absolute;
    top: 150px;
    left: 500px;
    width: 40%;
    height: 180px;
}
.section2-box3{
    position: absolute;
    top: 350px;
    left: 80px;
    width: 40%;
    height: 180px;
}
.section2-box4{
    position: absolute;
    top: 350px;
    left: 500px;
    width: 40%;
    height: 180px;
}
.section2-box1-left{
    float: left;
    width: 50%;
    height: 100%;
}
.section2-box1-left img{
    width: 100%;
    height: 100%;
}
.section2-box1-right{
    float: left;
    width: 45%;
    margin-left: 1%;
    height: 100%;
    text-align: left;
}
.section2-box1-right h2{
    padding: 0;
    margin: 0;
}
.section2-box1-right a{
    color: orangered;
    text-decoration: none;
}

/*section3-css-start*/

.section3{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("background-02.jpg");
    background-size: cover;
    color: white;
    padding: 1px;
}
.section3 h1{
    margin-top: 7%;
}
.section3 p{
    margin-top: -2%;
}
.section3-box1{
    width: 17%;
    top: 30%;
    left: 10%;
    height: 400px;
    position: absolute;
}
.section3-box2{
    width: 17%;
    top: 30%;
    left: 30%;
    height: 400px;
    position: absolute;
}
.section3-box3{
    width: 17%;
    top: 30%;
    left: 50%;
    height: 400px;
    position: absolute;
}
.section3-box4{
    width: 17%;
    top: 30%;
    left: 70%;
    height: 400px;
    position: absolute;
}
.section3-box1 img{
    width: 100%;
    height: 50%;
}
.section3-box2 img{
    width: 100%;
    height: 50%;
}
.section3-box3 img{
    width: 100%;
    height: 50%;
}
.section3-box4 img{
    width: 100%;
    height: 50%;
}
#btn3{
    width: 130px;
    height: 40px;
    background-color: orangered;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
.footer{
    position: relative;
    width: 100%;
    height: 70vh;
    background: #252525;
}
.footer-box1{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 10%;
    color: white;
    height: 300px;
}
.footer-box2{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 38%;
    height: 300px;
    color: white;
}
.footer-box2 ul{
    list-style: none;
    padding: 0
}
.footer-box2 ul li{
    color: white;
    padding: 10px 0;
    border-bottom: 2px solid gray;
}
.footer-box2 ul li:last-child{
    border: none;
}
.footer-box2 i{
    padding-right: 20px;
    padding-bottom: 20px;
}
.footer-box3{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 66%;
    height: 300px;
    color: white;
}
.footer-box3 h3{
    color: orangered;
    margin-top: -5px;
}
.footer-box3 small{
    margin-top: -20px;
}
.footer-box1 ul{
    list-style: none;
    padding-left: 0;
}
.footer-box1 ul li{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: orangered;
    text-align: center;
    line-height: 2.5;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.footer-nav{
    padding: 1px;
    width: 100%;
    height: 80px;
    background: orangered;
}
.footer-nav ul{
    list-style: none;
    margin-left: 5%;
    margin-top: 2%;
}
.footer-nav ul li{
    float: left;
    color: white;
    padding: 0 20px;
    border-right: 2px solid white;
    text-transform: uppercase;
}
.footer-nav ul li:last-child{
    border: none;
}
.footer-nav .fas{
    color: white;
}
.copyright{
    width: 100%;
    height: 50px;
    background: #252525;
    color: white;
    padding: 1px;
}
.copyright p{
    margin-left: 10%;
}